{% extends 'ferremas/base.html' %}

{% load static %}


{% block content %}

<link href="{% static 'css/carrito.css' %}" rel="stylesheet">

<table id="cart-table" class="mx-auto my-4 w-3/4 text-center">
    <!-- Los productos del carrito se cargarán aquí -->
</table>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('pay-button').addEventListener('click', function() {
        var total = 100;  // Reemplaza 100 con el total real del carrito
        fetch('/iniciar_pago_mercado_pago/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ total: total })
        })
        .then(response => response.json())
        .then(data => {
            window.location.href = data.init_point;
        })
        .catch(error => console.error('Error:', error));
    });
});
</script>
{% endblock %}