{% extends 'ferremas/base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'css/productos.css' %}" rel="stylesheet">
<div class="flex flex-wrap">
    {% for producto in productos %}
    <div class="max-w-xs rounded overflow-hidden shadow-lg m-2">
        <img class="w-full h-48 object-contain" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
        <div class="px-6 py-4">
            <hr>
            <div class="font-bold text-xl mb-2">{{ producto.nombre }}</div>
            <p class="text-gray-700 text-base precio">
                ${{ producto.precio }} CLP
            </p>
            <p class="iva">IVA incluido</p>
        </div>
        <div class="px-6 pt-4 pb-2">
            {% if producto.stock == 0 %}
                <button disabled class="bg-gray-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed">
                    Producto sin stock
                </button>
            {% else %}
                <button data-id="{{ producto.id }}" class="add-to-cart bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Agregar al carrito
                </button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
    <script src="{% static 'js/productos.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock %}